main, #gifHolder, #buttonHolder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#gifHolder, #buttonHolder{
    width: 70vw;
}

#reset{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.btn{
    flex: 0 1 initial;
    margin: 5px;
}

img {
    margin: 5px;
    min-width: 200px;
    min-height: 200px;
}

div {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}